.services{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .serviceTop,.serviceBottom{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 20%;
        background-color: var(--backgroundColor);
        border-radius: 10px;
    }
    .serviceMiddle{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 20%;
        gap: 20%;

        .serviceMiddleTop,.serviceMiddleBottom{
           display: flex;
           justify-content: center;
           align-items: center;
           gap: 5px;
           width: 100%;
           height: 40%;
           border-radius: 10px;
           background-color: var(--backgroundColor);
        }
    }
    /* .serviceBottom{
        height: 100%;
        width: 30%;
        background-color: var(--backgroundColor);
    } */
    
}